src/assistenteAws.json
{
    "Comment": "An example of using Bedrock to chain prompts and their responses together.",
    "StartAt": "Pergunta idéias de combinações",
    "States": {
      "Pergunta idéias de combinações": {
        "Type": "Task",
        "Resource": "arn:aws:states:::bedrock:invokeModel",
        "Parameters": {
          "ModelId": "arn:aws:bedrock:ap-northeast-2::foundation-model/anthropic.claude-3-haiku-20240307-v1:0",
          "Body": {
            "anthropic_version": "bedrock-2023-05-31",
            "max_tokens": 2000,
            "messages": [
              {
                "role": "user",
                "content": [
                  {
                    "type": "text",
                    "text": "Estou programando um jantar romântico, nesse jantar irei pedir um macarrão, me de uma lista de 3 itens que combinam em uma experiencia gastronomica"
                  }
                ]
              }
            ]
          },
          "ContentType": "application/json",
          "Accept": "*/*"
        },
        "Next": "Adiciona o primeiro resultado da conversação ao historico",
        "ResultPath": "$.result_one",
        "ResultSelector": {
          "result_one.$": "$.Body.content[0].text"
        }
      },
      "Adiciona o primeiro resultado da conversação ao historico": {
        "Type": "Pass",
        "Next": "Pergunta idéias de bebidas",
        "Parameters": {
          "convo_one.$": "States.Format('{}\n{}', $.prompt_one, $.result_one.result_one)"
        },
        "ResultPath": "$.convo_one"
      },
      "Pergunta idéias de bebidas": {
        "Type": "Task",
        "Resource": "arn:aws:states:::bedrock:invokeModel",
        "Parameters": {
          "ModelId": "arn:aws:bedrock:ap-northeast-2::foundation-model/anthropic.claude-3-haiku-20240307-v1:0",
          "Body": {
            "anthropic_version": "bedrock-2023-05-31",
            "max_tokens": 2000,
            "messages": [
              {
                "role": "user",
                "content": [
                  {
                    "type": "text",
                    "text": "lisre duas bebidas que acomanhem um jantar romântico"
                  }
                ]
              }
            ]
          },
          "ContentType": "application/json",
          "Accept": "*/*"
        },
        "Next": "Adiciona o segundo resultado da conversação ao historico",
        "ResultSelector": {
          "result_two.$": "$.Body.content[0].text"
        },
        "ResultPath": "$.result_two"
      },
      "Adiciona o segundo resultado da conversação ao historico": {
        "Type": "Pass",
        "Next": "Pergunta idéias de lugares",
        "Parameters": {
          "convo_two.$": "States.Format('{}\n{}\n{}', $.convo_one.convo_one, $.prompt_two, $.result_two.result_two)"
        },
        "ResultPath": "$.convo_two"
      },
      "Pergunta idéias de lugares": {
        "Type": "Task",
        "Resource": "arn:aws:states:::bedrock:invokeModel",
        "Parameters": {
          "ModelId": "arn:aws:bedrock:ap-northeast-2::foundation-model/anthropic.claude-3-haiku-20240307-v1:0",
          "Body": {
            "anthropic_version": "bedrock-2023-05-31",
            "max_tokens": 2000,
            "messages": [
              {
                "role": "user",
                "content": [
                  {
                    "type": "text",
                    "text": "liste um lugar perfeito para um jantar romântico em Paris"
                  }
                ]
              }
            ]
          },
          "ContentType": "application/json",
          "Accept": "*/*"
        },
        "End": true,
        "ResultSelector": {
          "result_three.$": "$.Body.content[0].text"
        }
      }
    }
  }